*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-white: #fff;
$color-main: #1b1a1a;

body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

.header {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 33px;
    margin-bottom: 25px;
  }
  .logo {
    margin-left: 32px;
  }
  &__btn {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    padding: 11px 20px;
    color: $color-white;
    background-color: $color-main;
    border-radius: 14px;
    margin-left: 32px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    margin-bottom: 100px;
  }
}
.menu {
  &__list {
    display: flex;
    gap: 32px;
    padding-left: 295px;
    &-link {
      font-size: 15px;
      line-height: 24px;

      color: #1b1a1a;
    }
  }
}
.header {
  &__box {
    display: flex;
    padding-left: 40px;
    justify-content: center;
    align-items: center;
    background-color: #ece7e4;
    width: 100%;
  }
  &__heading {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 600px;
    height: 566px;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645c55;
  }
  &__title {
    font-size: 64px;
    line-height: 70px;

    color: $color-main;
  }
  &__excerpt {
    font-size: 16px;
    line-height: 24px;
    color: #403e3b;
    margin-bottom: 30px;
  }
  &__link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: $color-main;
    // margin-bottom: 128px;
    padding-left: 20px;
  }
}

.about {
  &__box {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
  }

  &__title {
    font-size: 32px;
    line-height: 38px;
    color: #403e3b;
  }

  &__info {
    &-text {
      margin-bottom: 10px;
    }
  }

  &__inner {
    margin-bottom: 20px;
  }

  &__info-text {
    font-size: 16px;
    line-height: 24px;
    color: #403e3b;
    width: 493px;
  }
}

.team {
  &__box {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 258px;
  }

  &__name {
    font-size: 17px;
    line-height: 26px;
    color: $color-main;
  }

  &__post {
    font-size: 14px;
    line-height: 14px;
    color: #645c55;
  }
}

.image-bg {
  position: relative;
  margin-bottom: -5px;
  &__image {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__box {
    position: absolute;
    right: 223px;
    top: 286px;
    width: 300px;
    &-left {
      position: absolute;
      left: 60px;
      top: 356px;
      width: 300px;
    }
  }
  &__title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403e3b;
  }

  &__text {
    width: 289px;
    font-size: 16px;
    line-height: 24px;
    color: #645c55;
  }
}

.info {
  margin: 100px 0;
  &__caption {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645c55;
    margin-bottom: 13px;
  }

  &__title {
    font-size: 39px;
    line-height: 42px;
    text-align: center;
    color: $color-main;
    margin-bottom: 64px;
  }

  &__box {
    display: flex;
    gap: 16px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      color: #403e3b;
      padding-bottom: 10px;
    }
    &-text {
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      color: #645c55;
    }
  }

  &__item-image {
    width: 100px;
    height: 115px;
    padding-bottom: 15px;
  }
}

.customer {
  background-color: #403e3b;
  // height: 410px;

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0;
    gap: 141px;
  }
}
.clients {
  &__inner {
    width: 460px;
    height: 160px;
    padding-top: 20px;
  }

  &__caption {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ece7e4;
  }

  &__title {
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 14px;
    color: #ffffff;
  }

  &__text {
    font-size: 15px;
    line-height: 24px;
    color: #ece7e4;
  }

  &__images {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 431px;
    gap: 70px;
    justify-items: center;
    align-items: center;
  }
}

.projects {
  background-color: #f7f7f7;
  padding-bottom: 100px;

  &__title {
    font-size: 39px;
    line-height: 42px;
    color: $color-main;
    padding-top: 113px;
  }

  &__subtitle {
    width: 581px;
    font-size: 24px;
    line-height: 30px;
    color: #645c55;
    padding: 15px 0 42px;
  }

  &__inner {
    display: flex;
    gap: 18px;
    margin-bottom: 40px;
  }

  &__item {
    &-subtitle {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #645c55;
      position: relative;
      top: 0;
    }

    &-title {
      font-size: 23px;
      line-height: 30px;
      color: #403e3b;
    }
    &-btn {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.4px;
      color: #fff;
      width: 133px;
      height: 46px;
      padding: 11px 20px;
      background: #1b1a1a;
      border-radius: 14px;
    }
  }
  &__dropdown {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    color: $color-main;
  }
}

.team {
  &__inner {
    display: flex;
    padding: 100px 0;
    gap: 16px;
  }
  &__wrapper-title {
    font-size: 32px;
    line-height: 38px;
    color: #403e3b;
    padding-bottom: 14px;
  }

  &__wrapper-text {
    font-size: 15px;
    line-height: 24px;
    color: #645c55;
    padding-right: 26px;
    padding-bottom: 30px;
  }

  &__wrapper-link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: $color-main;
    padding-left: 25px;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    gap: 36px 117px;
  }
}

.connection {
  background: #cec4bc;
  height: 315px;
  display: flex;
  align-items: center;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
  }
  &__box {
    width: 575px;
    height: 114px;
  }
  &__subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645c55;
  }

  &__title {
    font-size: 40px;
    line-height: 42px;
    color: $color-main;
  }

  &__pop-up {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: $color-main;
    cursor: pointer;
  }
}

.footer {
  background: #f7f7f7;
  height: 204px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 60px;
  }
  &__title{
    padding-top: 20px;
  }
  &__social {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
